<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar Filme</title>
    </head>
    <body>

        <h1>Cadastrar Filme</h1>

        <form th:action="@{/filmes}" th:object="${filme}" method="post">
            <div>
                <label for="titulo">Título:</label>
                <input
                    type="text"
                    id="titulo"
                    th:field="*{titulo}"
                    required>
            </div>

            <br>

            <div>
                <label for="diretor">Diretor:</label>
                <input
                    type="text"
                    id="diretor"
                    th:field="*{diretor}"
                    required>
            </div>

            <br>

            <div>
                <label for="anoLancamento">Ano de lançamento:</label>
                <input
                    type="number"
                    id="anoLancamento"
                    th:field="*{anoLancamento}"
                    min="1888"
                    max="2100"
                    required>
            </div>

            <br>

            <div>
                <label for="assistido">Filme assistido:</label>
                <input
                    type="checkbox"
                    id="assistido"
                    th:field="*{assistido}">
            </div>

            <br>

            <button type="submit">Cadastrar filme</button>

        </form>

        <p>
            <a th:href="@{/filmes}">Voltar para filmes</a>
        </p>

    </body>
</html>